<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
  <link rel="stylesheet" th:href="@{/dist/semantic.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

</nav>

<!--中间内容-->
<div  class="m-container m-padded-tb-big animated fadeIn">
  <div class="ui container">

    <div class="ui stackable grid">
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="https://picsum.photos/800/400?image=1005" alt="" class="ui rounded image">
        </div>
      </div>
      <div class="five wide column">
        <div class="ui top attached segment">
          <div class="ui header">关于我</div>
        </div>
        <div class="ui attached segment">
          <p class="m-text">奕啡，一名即将毕业苦寻offer的大四学生，担心着自己的头发，因为还没毕业就经常鼓捣代码到3、4点</p>
          <p class="m-text">热爱编程，喜欢折腾，希望结识更多小伙伴...</p>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic left pointing label">敲代码</div>
          <div class="ui orange basic left pointing label">写代码</div>
          <div class="ui orange basic left pointing label">学代码</div>
        </div>
        <div class="ui attached segment">
          <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">MySQL</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">Semantic</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">BootStrup</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">jQuery</div>
        </div>
        <div class="ui bottom attached segment">
          <a href="https://github.com/login?return_to=%2Fyifei519%2FmyBlog" class="ui circular icon button"><i class="github icon"></i></a>
          <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
          <a href="#" class="ui qq circular icon button" data-content="836890287" data-position="bottom center"><i class="qq icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition hidden">
          <img th:src="@{/images/WeChat.png}" alt="" class="ui rounded image" style="width: 110px">
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>
<th:block th:replace="_fragments :: script">
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>-->
</th:block>

<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.wechat').popup({
    popup : $('.wechat-qr'),
    position: 'bottom center'
  });
  $('.qq').popup();

</script>
</body>
</html>