<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link rel="stylesheet" th:href="@{/dist/semantic.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(0)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

  </nav>
 <!-- <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" class="item">发布</a>
        <a href="#" class="teal active item">列表</a>
      </div>
    </div>
  </div>-->

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success large message">
        <h2>Hi!</h2>
        <p><span th:text="${user.nickname}"></span>,欢迎登陆</p>
      </div>
      <img src="https://unsplash.it/1000/400?image=1005" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">


  </footer>

  <!--/*/<th:block th:replace="_fragments :: script" >/*/-->
  <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/dist/semantic.min.js}"></script>
  <!--/*/</th:block >/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>